body {
    background-color: #f4f4f2;
    margin: 0px;
    font-size: 24px;
}

#loading-screen {
    width: 70vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    padding-top: 20%;
    display: none;
  }


#overlay {
    position: absolute;
        top: 0;
        bottom: 0;
        background: #f1f125;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 100;
}

#popup {
    padding-right: 1%;
    padding-left: 1%;
    /*padding-top: 10px;*/
    border-radius: 0%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 40%;
    background: rgba(21,21,32, 0.7);
    color: #fff;
    max-width: 800px;
    /*height: 20%;*/
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
    visibility: hidden;
}

div {
    display: inline;
}

.canvas {
    position: absolute;
    z-index: -1;
    float: right;
}

button.menu {
    text-align: center;
}



.menu_light {
    background: #EAE7D6;
    overflow-y: auto;
}

.menu_dark {
     background: #586062;
     color: #000;
     overflow-y: auto;
}

.button_light {
    background: #495465;
    border-radius: 5px;
    color: #f4f4f2;
}

.button_light:hover {
    background: #495465;
    border-radius: 5px;
    color: #f4f4f2;
}

.button_dark {
    background: #a1b1a7;
    border-radius: 5px;
    color: #fff;
}

.button_dark:hover {
    background: #a1b1a7;
    border-radius: 5px;
    color: #fff;
}



.botaomodo {
    width: 9.41vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 3%;
    text-align: center;
    border-radius: 5px;
    
}

.botao-interagir {
    width: 23.1vw;
    
}
.botao-interagir-1terco {
    width: 7.45vw;
}


#col-menu {
    height: 100vh;
}

.btn {
    margin-top: 1%;
    border: 1px solid black;
}

svg {
    width:100%; height:35px;
}



