#loading-screen {
  position: absolute;
  left: 30.78125vw;
  top: 79.5vh;
  width: 28.125vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
  opacity: 0.5;
  padding-top: 13%;
  display: none;
}

#btn_fullscreen {
  height: 4.82vh;
  vertical-align: top;  
  background-color: #436e99;
  border: 0px;
  z-index: 2;
}

#path {
  position: absolute;
  width: 26.875vw;
  height: 2.6910656620021527vh;
  left: 1.0416666666666667vw;
  top: 17.65339074273412vh;
}

#movel1 {
  position: absolute;
  left: 1.6145833333333335vw;
  top: 22.066738428417654vh;
}

#movel2 {
  position: absolute;
  left: 30.78125vw;
  top: 22.066738428417654vh;
}

#movel3 {
  position: absolute;
  left: 1.6145833333333335vw;
  top: 82.34660925726588vh;
  margin-bottom: 5vh;
}

.fullscreen-location {
  position: relative;
  left: 52.739583333333336vw;
  top:  115.55328310010765vh;
}

body {
  font-family: 'Poppins',Arial,sans-serif;
  overflow-y: auto;
}

.add_cart {
  width: 27.23958vw;
  height: 5.0814vh;
  background-color: #436e99;
  color: #fff;
  border: 0px;
  border-radius: 10px;
}
.quantidade {
  margin-right: 0px;
  margin-left: 0px;
  border: 0px;  
}

.quantidade-btn {
  width: 1.718vw;
  height: 5.0814vh;
  background-color: #436e99;
  color: #fff;
  font-size: 1.25vw;
}

.quantidade-input {
  display: inline;
  width: 1.927vw;
  height: 5.0814vh;
  background-color: #436e99;
  color: #fff;
  margin-left: -4px;
  font-size: 1.25vw;
}

.marca-nome {
  font-size: 14px;
  font-weight: 600;
  /*color: #1c1c1c;*/
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.selector {
  /*color: #1c1c1c;*/
  padding-left: 10px;
}

.dropdown-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.image-selector {
  vertical-align: top;
  top: 4px;
  left: 13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.titulo-produto {
  /*color: #1c1c1c;*/
  margin: 0 0 8px 0;
  font-size: 20px;
  font-weight: normal;
}


#img {
  position: absolute;
  left: 30px;
  width: 57.291666666666664vw;
}


.dark_mode_btn {
  width: 9.27vw;
  height: 3.98vh;
  border-radius: 50px;
  border: 0;
  position: absolute;
  left: 95.36vw;
  top: 9.36vh;
}


.header {
  width: 97.81vw;
}

.desc_produto {
  width: 38.64583333333333vw;
  /*height: 33.5185vh;*/
}

.desc_produto-cont {
  position: absolute;
  top: 22.066738428417654vh;
  left: 60.26041666666667vw;
}


.box {
  width: 28.125vw;
  /*height: 50vh;*/
}

.midle-spacer {
  width: 1.04167vw;
}

.midle-spacer2 {
  width: 1.354167vw;
}

.wood_btn {
  width: 2.708vw;
  height: 4.82vh;
  border-radius: 50%;
  margin-bottom: 2.81vh;
  display: inline;
  margin-left: 17.5px;
}

.wood_btn_dark {
  width: 2.708vw;
  height: 4.82vh;
  border-radius: 50%;
  margin-bottom: 2.81vh;
  display: inline;
  margin-left: 17.5px;
}

.wood_btn:hover {
  border: 5px solid #436e99;
}

.wood_btn_dark:hover {
  border: 5px solid #a1b1a7;
}

.light_button {
  background-color: #495465;
  color: #F4F4F2;
}

.light_button:hover {
  background: linear-gradient(90.34deg, #E8E8E8 0%, #BBBFCA 99.94%);
/* hover_glow_light */

  border-radius: 5px;
  color: #fff;
}


.spacer {
  margin-left: 1.615%;
  width: 98.385%;
}


.desc_produto {
  width: 38.6458vw;
}

#canvas {
  position: absolute;
  left: 30.78125vw;
  top: 82.34660925726588vh;
  z-index: -1;
}