  #div_switch {
    position: absolute;
    left:  91.38541666666667vw;
    top: 10.76426264800861vh;
  }
  
  #darkModeSelector {
    
    background-color: #586062;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(161, 177, 167)" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
    height: 4.628632938643703vh;
    width: 4.427083333333333vw;
    background-size: 40%;
    border: 0px;
  }

  #darkModeSelector:checked {
    background-color: #eae7d6;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(67, 110, 153)" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
  }

  #darkModeSelector:focus +  #darkModeSelector:checked{
    background-color: #eae7d6;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(67, 110, 153)" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
    border-color: #436e99;
  }

.icon {
  margin: 0.5208366666666667vw;
  vertical-align:middle
}

#sun {
  position: relative;
  left: -15.257265877287406vh;
  top: -0.75vh;
}

#moon {
  position: absolute;
  left: 4.5vw;
  bottom: 0.5vh;

}